<div class="menu_container menu_mm" xmlns:th="http://www.w3.org/1999/xhtml">

    <!-- Menu Close Button -->
    <div class="menu_close_container">
        <div class="menu_close"></div>
    </div>

    <!-- Menu Items -->
    <div class="menu_inner menu_mm">
        <div class="menu menu_mm">
            <div class="menu_search_form_container">
                <form action="#" id="menu_search_form">
                    <label>
                        <input type="search" class="menu_search_input menu_mm">
                    </label>
                    <button id="menu_search_submit" class="menu_search_submit" type="submit"><img
                            src="/images/search_2.png" alt=""></button>
                </form>
            </div>
            <ul class="menu_list menu_mm">
                <li class="menu_item menu_mm"><a th:href="@{/}">Home</a></li>
                <li class="menu_item menu_mm"><a th:href="@{/about}">About us</a></li>
                <li class="menu_item menu_mm"><a th:href="@{users/register}">Register</a></li>
                <li class="menu_item menu_mm"><a th:href="@{users/login}">Sign in</a></li>
                <li class="menu_item menu_mm"><a th:href="@{/blog}">Blog</a></li>
                <li class="menu_item menu_mm"><a th:href="@{/contacts}">Contacts</a></li>
            </ul>

        </div>

    </div>

</div>
