<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Profile</title>
    <th:block th:include="~{_shared/head}"/>
</head>
<body>

<div class="super_container">
    <th:block th:include="~{_shared/header}"/>
    <th:block th:include="~{_shared/menu}"/>


    <div class="last">
        <div class="last_background parallax-window" data-parallax="scroll"
             data-image-src="/images/client_profile_background.webp"
             data-speed="0.8"></div>
        <!-- PAGE STUFF -->

        <div class="rela-block container">
            <div class="rela-block profile-card">
                <img class="profile-pic" id="profile_pic" th:src="${offer.picture}">
                <div class="rela-block profile-name-container">
                    <div class="rela-block user-name" id="user_name"><strong>[[${offer.name}]]</strong></div>
                    <div class="rela-block user-desc" id="user_description"><strong>Planet:</strong> [[${offer.planet}]]
                    </div>
                    <div class="rela-block user-desc" id="offer_year"><strong>Year:</strong> [[${offer.year}]]</div>
                </div>
                <div class="rela-block profile-card-stats">
                    <div class="justify-content-center">Price per adult: <strong>[[${offer.pricePerAdult}]]$</strong>
                    </div>
                    <div class="justify-content-center">Price per child: <strong>[[${offer.pricePerChildren}]]$</strong>
                    </div>
                </div>
                <div class="description_profile"><strong>Description:</strong></div>
                <div class="description_profile">[[${offer.description}]]</div>
                <div th:if="${session.user.username == offer.provider.username}">
                    <a class="btn btn-info text-white mb-3 d-inline-block" id="offer_edit_btn"
                       th:href="@{/offers/{partner}/edit/{sector}/{name}(partner=${session.user.username}, sector=${offer.sector.name}, name=${offer.name})}">Edit</a>
                    <a class="btn btn-info text-white mb-3 d-inline-block" id="offer_delete_btn"
                       onclick="document.getElementById('delete_hotel').style.display='block'">Delete</a>
                    <div id="delete_offer" class="modal">
            <span onclick="document.getElementById('delete_offer').style.display='none'" class="close"
                  title="Close Modal">×</span>
                        <form class="modal-content animated"
                              th:action="@{/offers/{partner}/delete/{offerName} (partner= ${session.user.username}, offerName=${offer.name})}"
                              th:method="post">
                            <div>Are you sure you want to delete [[${offer.name}]]?</div>
                            <div class="button-holder d-flex justify-content-center">
                                <button class="btn signupbtn" type="submit">Yes</button>
                                <button type="button"
                                        onclick="document.getElementById('delete_offer').style.display='none'"
                                        class="cancelbtn btn">No
                                </button>
                            </div>
                        </form>
                    </div>
                    <a class="btn about_button text-white position-relative"
                       th:href="@{/profile/partner/{name}(name=${session.user.username})}">Back to profile</a>
                </div>
                <div th:unless="${session.user.username == offer.provider.username}">
                    <div th:if="${session.user.role.name == 'client'}">
                        <a class="btn btn-info text-white"
                           th:href="@{/profile/{user}/save/{offer}(user=${session.user.username}, offer=${offer.name})}"
                           th:method="post">Save</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <th:block th:include="~{_shared/footer}"/>
    </div>
    <th:block th:include="~{_shared/scripts}"/>
</body>
</html>