<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Hotel</title>
    <th:block th:include="~{_shared/head}"/>
</head>
<body>

<div class="super_container">
    <th:block th:include="~{_shared/header}"/>
    <th:block th:include="~{_shared/menu}"/>
    <!-- Register -->

    <div class="last">
        <div class="last_background parallax-window edit_background" data-parallax="scroll"
             data-image-src="/images/edit_offer_background.webp"
             data-speed="0.8"></div>

        <div class="container">
            <div class="row">
                <div class="col-lg-6 last_col">
                    <div class="last_item">
                        <div class="last_item_content edit">
                            <div class="last_subtitle">Edit your offer</div>
                            <!--/*@thymesVar id="accommodation" type="project.imaginarium.web.view.models.offer.add.AccommodationAdd"*/-->
                            <form class="mx-auto w-15" th:method="post" th:object="${accommodation}">
                                <div class="form-group">
                                    <div class="form-group no_change">
                                        Name:<strong> [[${accommodation.name}]]</strong>
                                    </div>
                                    <div class="form-group row" th:classappend="${#fields.hasErrors('description')}? 'alert-danger'">
                                        <div class="label-holder text-white textCol d-flex justify-content-center">
                                            <label for="description"
                                                   class="h4 mb-2 last_text">Description</label>
                                        </div>
                                        <textarea class="form-control" th:field="*{description}"
                                                  id="description" rows="4"
                                                  name="description">[[${accommodation.description}]]</textarea>
                                        <ul th:if="${#fields.errors('description')}">
                                            <li th:each="error : ${#fields.errors('description')}" th:text="${error}"></li>
                                        </ul>
                                    </div>
                                    <div class="form-group row" th:classappend="${#fields.hasErrors('days')}? 'alert-danger'">
                                        <div class="label-holder text-white textCol d-flex justify-content-center">
                                            <label for="days" class="h4 mb-2 last_text">Earth Days</label>
                                        </div>
                                        <input type="number" class="form-control" id="days" name="days"
                                               th:field="*{days}" th:value="${accommodation.days}"/>
                                        <ul th:if="${#fields.errors('days')}">
                                            <li th:each="error : ${#fields.errors('days')}" th:text="${error}"></li>
                                        </ul>
                                    </div>
                                    <div class="form-group row">
                                        <div class="label-holder text-white textCol d-flex justify-content-center">
                                            <label for="planet" class="h4 mb-2 last_text">Planet</label>
                                        </div>
                                        <select class="form-control" id="planet" name="planet" type="text">
                                            <option th:value="${accommodation.planet}">[[${accommodation.planet}]]</option>
                                            <option th:each="planet : ${T(project.imaginarium.data.models.Planet).values()}"
                                                    th:value="${planet}" th:text="${planet}"></option>
                                        </select>
                                    </div>
                                    <div class="form-group row" th:classappend="${#fields.hasErrors('pricePerChildren')}? 'alert-danger'">
                                        <div class="label-holder text-white textCol d-flex justify-content-center">
                                            <label for="pricePerChildren" class="h4 mb-2 last_text">Price per Child</label>
                                        </div>
                                        <input class="form-control" type="number" id="pricePerChildren" th:field="*{pricePerChildren}"
                                               name="pricePerChildren" th:value="${accommodation.pricePerChildren}"/>
                                        <ul th:if="${#fields.errors('pricePerChildren')}">
                                            <li th:each="error : ${#fields.errors('pricePerChildren')}" th:text="${error}"></li>
                                        </ul>
                                    </div>
                                        <div class="form-group row" th:classappend="${#fields.hasErrors('pricePerAdult')}? 'alert-danger'">
                                            <div class="label-holder text-white textCol d-flex justify-content-center">
                                                <label for="pricePerAdult" class="h4 mb-2 last_text">Price Per Adult</label>
                                            </div>
                                            <input type="number" class="form-control" id="pricePerAdult" name="pricePerAdult"
                                                   th:field="*{pricePerAdult}" th:value="${accommodation.pricePerAdult}"/>
                                            <ul th:if="${#fields.errors('pricePerAdult')}">
                                                <li th:each="error : ${#fields.errors('pricePerAdult')}" th:text="${error}"></li>
                                            </ul>
                                        </div>
                                    <div class="form-group row">
                                        <div class="label-holder text-white textCol d-flex justify-content-center">
                                            <label for="picture"
                                                   class="h4 mb-2 last_text">Picture</label>
                                        </div>
                                        <input class="form-control" type="url" th:value="${accommodation.picture}"
                                               id="picture" name="picture" placeholder="${accommodation.picture}">
                                    </div>
                                    <div class="form-group">
                                        <div class="label-holder text-white textCol d-flex">
                                            <div class="label-holder textCol d-flex">
                                                <label for="tags"
                                                       class="h4 mb-2 last_text">Tags</label>
                                            </div>
                                        </div>
                                        <div>
                                            <select name="tags" id="tags" class="multiple form-control" multiple = "multiple">
                                                <option class="multiple_option form-control" th:each="tag : ${T(project.imaginarium.data.models.offers.Tag).values()}"
                                                        th:value="${tag}" th:text="${tag}"></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="button-holder d-flex justify-content-center">
                                        <button class="btn btn-info text-white mb-3" type="submit">Save</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<th:block th:include="~{_shared/footer}"/>
<th:block th:include="~{_shared/scripts}"/>
</body>
</html>