<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Hotel</title>
    <th:block th:include="~{_shared/head}"/>
</head>
<body>

<div class="super_container">
    <th:block th:include="~{_shared/header}"/>
    <th:block th:include="~{_shared/menu}"/>
    <!-- Register -->

    <div class="last">
        <div class="last_background parallax-window edit_background" data-parallax="scroll"
             data-image-src="/images/edit_offer_background.webp"
             data-speed="0.8"></div>

        <div class="container">
            <div class="row">
                <div class="col-lg-6 last_col">
                    <div class="last_item">
                        <div class="last_item_content edit">
                            <div class="last_subtitle">Edit your offer</div>
                            <!--/*@thymesVar id="vehicle" type="project.imaginarium.web.models.offer.add.VehicleAdd"*/-->
                            <form class="mx-auto w-15" th:method="post" th:object="${vehicle}">
                                <div class="form-group ">
                                    <div class="form-group no_change">
                                        Name:<strong> [[${vehicle.name}]]</strong>
                                    </div>
                                    <div class="form-group row" th:classappend="${#fields.hasErrors('description')}? 'alert-danger'">
                                        <div class="label-holder text-white textCol d-flex justify-content-center">
                                            <label for="description"
                                                   class="h4 mb-2 last_text">Description</label>
                                        </div>
                                        <textarea class="form-control"
                                                  id="description" rows="4" th:field="*{description}"
                                                  name="description">[[${vehicle.description}]]</textarea>
                                        <ul th:if="${#fields.errors('description')}">
                                            <li th:each="error : ${#fields.errors('description')}" th:text="${error}"></li>
                                        </ul>
                                    </div>
                                    <div class="form-group row">
                                        <div class="label-holder text-white textCol d-flex justify-content-center">
                                            <label for="planet" class="h4 mb-2 last_text">Planet</label>
                                        </div>
                                        <select class="form-control" id="planet" name="planet" type="text">
                                            <option th:value="${vehicle.planet}">[[${vehicle.planet}]]</option>
                                            <option th:each="planet : ${T(project.imaginarium.data.models.Planet).values()}"
                                                    th:value="${planet}" th:text="${planet}"></option>
                                        </select>
                                    </div>
                                    <div class="form-group row" th:classappend="${#fields.hasErrors('pricePerDay')}? 'alert-danger'">
                                        <div class="label-holder text-white textCol d-flex justify-content-center">
                                            <label for="pricePerDay" class="h4 mb-2 last_text">Price Per Day</label>
                                        </div>
                                        <input type="number" class="form-control" id="pricePerDay" name="pricePerDay"
                                               th:field="*{pricePerDay}" th:value="${vehicle.pricePerDay}"/>
                                        <ul th:if="${#fields.errors('pricePerDay')}">
                                            <li th:each="error : ${#fields.errors('pricePerDay')}" th:text="${error}"></li>
                                        </ul>
                                    </div>
                                    <div class="form-group">
                                        <div class="label-holder text-white textCol d-flex justify-content-center">
                                            <label for="picture"
                                                   class="h4 mb-2 last_text">Picture</label>
                                        </div>
                                        <input class="form-control" type="url" th:value="${timeTravel.picture}"
                                               id="picture" name="picture" th:placeholder="${accommodation.picture}">
                                    </div>
                                    <div class="form-group">
                                        <div class="label-holder text-white textCol d-flex justify-content-center">
                                            <div class="label-holder textCol d-flex justify-content-center">
                                                <label for="tags"
                                                       class="h4 mb-2 last_text">Tags</label>
                                            </div>
                                        </div>
                                        <div>
                                            <select name="tags" id="tags" class="multiple form-control" multiple = "multiple">
                                                <option class="multiple_option" th:each="tag : ${T(project.imaginarium.data.models.offers.Tag).values()}"
                                                        th:value="${tag}" th:text="${tag}"></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="button-holder d-flex justify-content-center">
                                        <button class="btn btn-info text-white mb-3" type="submit">Save</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<th:block th:include="~{_shared/footer}"/>
</div>
<th:block th:include="~{_shared/scripts}"/>
</body>
</html>