<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Imaginarium</title>
    <th:block th:include="~{_shared/head}"/>
</head>
<body>

<div class="super_container">
    <th:block th:include="~{_shared/header}"/>
    <th:block th:include="~{_shared/menu}"/>


    <div class="home">
        <div class="home_background" style="background-image:url(/images/error-background.jpg)"></div>
        <div class="home_content">
            <div class="home_content_inner">
                <div class="container">
                    <div class="text-center">
                        <h1 class="error">There has been error processing your request:</h1>
                        <!--/*@thymesVar id="message" type="java.lang.String"*/-->
                        <h1 th:text="${message}" class="exception"></h1>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <th:block th:include="~{_shared/footer}"/>

</div>
<th:block th:include="~{_shared/scripts}"/>
</body>

</html>