<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Contacts</title>
    <th:block th:include="~{_shared/head}"/>
</head>
<body>

<div class="super_container">

    <th:block th:include="~{_shared/header}"/>
    <th:block th:include="~{_shared/menu}"/>

    <!-- Home -->
    <div class="about_home">
        <div class="about_home_background parallax-window" data-parallax="scroll"
             data-image-src="images/contacts_background.jpg" data-speed="0.8"></div>
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="about_home_content">
                        <div class="about_home_content_inner">
                            <div class="about_home_title">Contacts</div>
                            <div class="about_home_breadcrumbs">
                                <ul class="about_home_breadcrumbs_list">
                                    <li class="about_home_breadcrumb"><a href="/">Home</a></li>
                                    <li class="about_home_breadcrumb">Contacts</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="contact">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="contact_title">Don't panic</div>
                    <div class="contact_subtitle">say hello</div>
                </div>
            </div>
            <div class="row contact_content">
                <div class="col-lg-5">
                    <div class="contact_text">
                        <p>If you feel a little lost or too excited and u want to share with us, as well as for anything
                            else, don't hesitate to contact us. We are always here for you.</p>
                    </div>
                    <div class="contact_info1">
                        <div class="contact_info_box1">i</div>
                        <div class="contact_info_container1">
                            <div class="contact_info_content1">
                                <ul>
                                    <li>Address: Somewhere on the planet Earth</li>
                                    <li>Phone: +359 876 248 857</li>
                                    <li>Email: aarabadjieva@students.softuni.com</li>
                                </ul>
                            </div>
                            <div class="contact_info_social1">
                                <ul>
                                    <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="contact_form_container">
                        <form action="#" id="contact_form" class="clearfix">
                            <label for="contact_input_name"></label><input id="contact_input_name"
                                                                           class="contact_input contact_input_name"
                                                                           type="text" placeholder="Name"
                                                                           required="required"
                                                                           data-error="Name is required.">
                            <label for="contact_input_email"></label><input id="contact_input_email"
                                                                            class="contact_input contact_input_email"
                                                                            type="text" placeholder="E-mail"
                                                                            required="required"
                                                                            data-error="E-mail is required.">
                            <label for="contact_input_subject"></label><input id="contact_input_subject"
                                                                              class="contact_input contact_input_subject"
                                                                              type="text" placeholder="Subject">
                            <label for="contact_input_message"></label><textarea id="contact_input_message"
                                                                                 class="contact_message_input contact_input_message"
                                                                                 name="message" placeholder="Message"
                                                                                 required="required"
                                                                                 data-error="Please, write us a message."></textarea>
                            <button id="contact_send_btn" type="submit" class="contact_send_btn trans_200"
                                    value="Submit">Send
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row contact_map">
                <!-- Google Map -->

                <div class="col">
                    <div id="google_map">
                        <div class="map_container">
                            <h1 class="contact_title">Find us:</h1>
                            <div id="map">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <th:block th:include="~{_shared/footer}"/>
</div>
<th:block th:include="~{_shared/scripts}"/>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCu81TbOqR-V5dW8NWzbD0um4hrRzGccmU&callback=initMap"
        async defer></script>
<script src="/js/contacts.js"></script>
</body>
</html>