<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Imaginarium</title>
    <th:block th:include="~{_shared/head}"/>
</head>
<body>

<div class="super_container">
    <th:block th:include="~{_shared/header}"/>
    <th:block th:include="~{_shared/menu}"/>

    <!-- Home -->

    <div class="home">
        <div class="home_background" style="background-image:url(/images/background-home.jpg)"></div>
        <div class="home_content">
            <div class="home_content_inner">
                <div class="home_text_large">imagine</div>
                <div class="home_text_small">Imagine new worlds</div>
            </div>
        </div>
    </div>

    <!-- Find Form -->

    <div class="find">
        <div class="find_background parallax-window" data-parallax="scroll" data-image-src="/images/find-background.jpg"
             data-speed="0.8"></div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="find_title text-center">Find the Adventure of a lifetime</div>
                </div>
                <div class="col-12">
                    <div class="find_form_container">
                        <form action="#" id="find_form"
                              class="find_form d-flex flex-md-row flex-column align-items-md-center align-items-start justify-content-md-between justify-content-start flex-wrap">
                            <div class="find_item">
                                <div>Destination:</div>
                                <input type="text" class="destination find_input" required="required"
                                       placeholder="Keyword here">
                            </div>
                            <div class="find_item">
                                <div>Adventure tag:</div>
                                <select name="adventure" id="adventure" class="dropdown_item_select find_input">
                                    <option>Categories</option>
                                    <option>Categories</option>
                                    <option>Categories</option>
                                </select>
                            </div>
                            <div class="find_item">
                                <div>Min price</div>
                                <select name="min_price" id="min_price" class="dropdown_item_select find_input">
                                    <option>&nbsp;</option>
                                    <option>Price</option>
                                    <option>Price</option>
                                </select>
                            </div>
                            <div class="find_item">
                                <div>Max price</div>
                                <select name="max_price" id="max_price" class="dropdown_item_select find_input">
                                    <option>&nbsp;</option>
                                    <option>Price</option>
                                    <option>Price</option>
                                </select>
                            </div>
                            <button class="button find_button">Find</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Top Destinations -->

    <div class="top">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="section_title text-center">
                        <h2>Top destinations in Europe</h2>
                        <div>take a look at these offers</div>
                    </div>
                </div>
            </div>
            <div class="row top_content">
                <div class="col-lg-3 col-md-6 top_col">
                    <div class="hovereffect top_item">
                        <div class="top_item_image"><img class="img-responsive" src="/images/top_1.jpg"
                                                         alt="https://unsplash.com/@sgabriel"></div>
                        <div class="overlay top_item_content">
                            <h2>From $890</h2>
                            <p>
                                <a top_item_text href="#">Paris, France</a>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 top_col">
                    <div class="hovereffect top_item">
                        <div class="top_item_image"><img class="img-responsive" src="/images/top_2.jpg"
                                                         alt="https://unsplash.com/@jenspeter"></div>
                        <div class="overlay top_item_content">
                            <h2>From $890</h2>
                            <p>
                                <a top_item_text href="#">Italian Riviera</a>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 top_col">
                    <div class="hovereffect top_item">
                        <div class="top_item_image"><img class="img-responsive" src="/images/top_3.jpg"></div>
                        <div class="overlay top_item_content">
                            <h2>From $890</h2>
                            <p>
                                <a top_item_text href="#">Cinique Terre</a>
                            </p>
                        </div>
                    </div>
                </div>


                <div class="col-lg-3 col-md-6 top_col">
                    <div class="hovereffect top_item">
                        <div class="top_item_image"><img class="img-responsive" src="/images/top_4.jpg"
                                                         alt="https://unsplash.com/@hellolightbulb"></div>
                        <div class="overlay top_item_content">
                            <h2>From $890</h2>
                            <p>
                                <a top_item_text href="#">Santorini, Greece</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Video -->

    <br>
    <br>
    <br>
    <div class="video_section d-flex flex-column align-items-center justify-content-center">
        <div class="video_background parallax-window" data-parallax="scroll"
             data-image-src="images/video-background.jpg"
             data-speed="0.8"></div>
        <div class="video_content">
            <div class="video_title">It's a wonderfull time to be alive!</div>
            <div class="video_subtitle">Find your inspiration!</div>
            <div class="video_play">
                <a class="video" href="https://www.youtube.com/watch?v=BPNTC7uZYrI">
                    <svg version="1.1" id="Layer_1" class="play_button" xmlns="http://www.w3.org/2000/svg"
                         xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="140px" height="140px"
                         viewBox="0 0 140 140" enable-background="new 0 0 140 140" xml:space="preserve">
							<g id="Layer_2">
								<circle class="play_circle" fill="none" stroke="#FFFFFF" stroke-width="2"
                                        stroke-miterlimit="10" cx="70.333" cy="69.58" r="68.542"/>
                                <polygon class="play_triangle" fill="none" stroke="#FFFFFF" stroke-width="2"
                                         stroke-miterlimit="10" points="61.583,56 61.583,84.417 84.75,70 	"/>
							</g>
						</svg>
                </a>
            </div>
        </div>
    </div>

    <!-- Popular -->

    <div class="popular">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="section_title text-center">
                        <h2>Popular destinations in 2018</h2>
                        <div>take a look at these offers</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 nopadding">
                    <!-- Popular Item -->
                    <div class="hovereffect2 popular_item">
                        <img class="img-responsive" src="/images/popular_1.jpg" alt="image by Egzon Bytyqi">
                        <div class="overlay popular_item_content">
                            <h2 class="popular_item_title">Turkey</h2>
                            <a class="popular_item_price info">From $890</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 nopadding">
                    <!-- Popular Item -->
                    <div class="hovereffect2 popular_item">
                        <img class="img-responsive" src="/images/popular_2.jpg" alt="https://unsplash.com/@michael75">
                        <div class="overlay popular_item_content">
                            <h2 class="popular_item_title">Hawai</h2>
                            <a class="popular_item_price info">From $890</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 nopadding">
                    <!-- Popular Item -->
                    <div class="hovereffect2 popular_item">
                        <img class="img-responsive" src="/images/popular_3.jpg" alt="https://unsplash.com/@michael75">
                        <div class="overlay popular_item_content">
                            <h2 class="popular_item_title">Ireland</h2>
                            <a class="popular_item_price info">From $890</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 nopadding">
                    <!-- Popular Item -->
                    <div class="hovereffect2 popular_item">
                        <img class="img-responsive" src="/images/popular_4.jpg" alt="https://unsplash.com/@michael75">
                        <div class="overlay popular_item_content">
                            <h2 class="popular_item_title">Thailand</h2>
                            <a class="popular_item_price info">From $890</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 nopadding">
                    <!-- Popular Item -->
                    <div class="hovereffect2 popular_item">
                        <img class="img-responsive" src="/images/popular_5.jpg" alt="https://unsplash.com/@michael75">
                        <div class="overlay popular_item_content">
                            <h2 class="popular_item_title">Croatia</h2>
                            <a class="popular_item_price info">From $890</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 nopadding">
                    <!-- Popular Item -->
                    <div class="hovereffect2 popular_item">
                        <img class="img-responsive" src="/images/popular_6.jpg" alt="https://unsplash.com/@michael75">
                        <div class="overlay popular_item_content">
                            <h2 class="popular_item_title">Bali</h2>
                            <a class="popular_item_price info">From $890</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 nopadding">
                    <!-- Popular Item -->
                    <div class="hovereffect2 popular_item">
                        <img class="img-responsive" src="/images/popular_7.jpg" alt="https://unsplash.com/@michael75">
                        <div class="overlay popular_item_content">
                            <h2 class="popular_item_title">France</h2>
                            <a class="popular_item_price info">From $890</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 nopadding">
                    <!-- Popular Item -->
                    <div class="hovereffect2 popular_item">
                        <img class="img-responsive" src="/images/popular_8.jpg" alt="https://unsplash.com/@michael75">
                        <div class="overlay popular_item_content">
                            <h2 class="popular_item_title">Vietnam</h2>
                            <a class="popular_item_price info">From $890</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- Special -->

<div class="special">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section_title text-center">
                    <h2>Special offers</h2>
                    <div>take a look at these offers</div>
                </div>
            </div>
        </div>
    </div>
    <div class="special_content">
        <div class="special_slider_container">
            <div class="owl-carousel owl-theme special_slider">

                <!-- Special Offers Item -->
                <div class="owl-item">
                    <div class="special_item">
                        <div class="special_item_background"><img src="/images/special_1.jpg"
                                                                  alt="https://unsplash.com/@garciasaldana_"></div>
                        <div class="special_item_content text-center">
                            <div class="special_category">Visiting</div>
                            <div class="special_title"><a th:href="@{/offers}">Indonesia</a></div>
                        </div>
                    </div>
                </div>

                <!-- Special Offers Item -->
                <div class="owl-item">
                    <div class="special_item d-flex flex-column align-items-center justify-content-center">
                        <div class="special_item_background"><img src="/images/special_2.jpg"
                                                                  alt="https://unsplash.com/@varshesh"></div>
                        <div class="special_item_content text-center">
                            <div class="special_category">Culture</div>
                            <div class="special_title"><a th:href="@{/offers}">India</a></div>
                        </div>
                    </div>
                </div>

                <!-- Special Offers Item -->
                <div class="owl-item">
                    <div class="special_item d-flex flex-column align-items-center justify-content-center">
                        <div class="special_item_background"><img src="/images/special_3.jpg"
                                                                  alt="https://unsplash.com/@paulgilmore_"></div>
                        <div class="special_item_content text-center">
                            <div class="special_category">Sunbathing</div>
                            <div class="special_title"><a th:href="@{/offers}">Thailand</a></div>
                        </div>
                    </div>
                </div>

                <!-- Special Offers Item -->
                <div class="owl-item">
                    <div class="special_item d-flex flex-column align-items-center justify-content-center">
                        <div class="special_item_background"><img src="/images/special_4.jpg"
                                                                  alt="https://unsplash.com/@hellolightbulb"></div>
                        <div class="special_item_content text-center">
                            <div class="special_category">Visiting</div>
                            <div class="special_title"><a th:href="@{/offers}">Bali</a></div>
                        </div>
                    </div>
                </div>

                <!-- Special Offers Item -->
                <div class="owl-item">
                    <div class="special_item d-flex flex-column align-items-center justify-content-center">
                        <div class="special_item_background"><img src="/images/special_5.jpg"
                                                                  alt="https://unsplash.com/@dnevozhai"></div>
                        <div class="special_item_content text-center">
                            <div class="special_category">Visiting</div>
                            <div class="special_title"><a th:href="@{/offers}">France</a></div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="special_slider_nav d-flex flex-column align-items-center justify-content-center">
                <img src="/images/special_slider.png" alt="">
            </div>
        </div>
    </div>
</div>


<th:block th:include="~{_shared/footer}"/>

</div>
<th:block th:include="~{_shared/scripts}"/>
</body>

</html>