<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin</title>
    <th:block th:include="~{_shared/head}"/>
</head>
<body>

<div class="super_container">
    <th:block th:include="~{_shared/header}"/>
    <th:block th:include="~{_shared/menu}"/>
    <div class="about_home">

        <!-- PAGE STUFF -->
        <h1 class="table_name text-center text-dark">USERS:</h1>
        <table class="table text-white table-hover">
            <thead>
            <tr>
                <th class="col-md-auto text-center">#</th>
                <th class="col-md-auto text-center">Username</th>
                <th class="col-md-auto text-center">Email</th>
                <th class="col-md-auto text-center">Role</th>
                <th class="col-md-auto text-center">Origin</th>
            </tr>
            </thead>
            <tbody>

            <th:block th:each="user, iter : ${users}">
                <tr>
                    <td class="text-center" th:text="${iter.index + 1}"></td>
                    <!--/*@thymesVar id="user" type="project.imaginarium.web.view.models.user.UserMainView"*/-->
                    <td class="text-center" th:utext="${user.username}"></td>
                    <td class="text-center" th:utext="${user.email}"></td>
                    <td class="text-center" th:utext="${session.role}"></td>
                    <td class="text-center">
                        <div th:if="${session.role}=='admin'">
                            <form th:action="@{/profile/delete/admin/{name}(name=${user.username})}" th:method="post">
                                <button type="submit" class="btn btn-info">Delete Admin</button>
                            </form>
                        </div>
                        <div th:if="${session.role}=='client'">
                            <form th:action="@{/profile/create/admin/{name}(name=${user.username})}" th:method="post">
                                <button type="submit" class="btn btn-info">Make Admin</button>
                            </form>
                        </div>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>

        <h1 class="table_name text-center text-white">Articles:</h1>
        <table class="table text-white table-hover">
            <thead>
            <tr>
                <th class="col-md-auto text-center">#</th>
                <th class="col-md-auto text-center">Name</th>
                <th class="col-md-auto text-center">Date</th>
                <th class="col-md-auto text-center">URL</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="article, iter : ${articles}">
                <tr>
                    <td class="text-center" th:text="${iter.index + 1}"></td>
                    <!--/*@thymesVar id="article" type="project.imaginarium.web.api.models.article.ArticleResponseModel"*/-->
                    <td class="text-center" th:utext="${article.title}"></td>
                    <td class="text-center" th:utext="${article.date}"></td>
                    <td class="text-center">
                            <a class="btn btn-info text-white mb-3" id="offer_edit_btn" th:href="@{/articles/edit/{title}(title=${article.title})}">Edit</a>
                            <a class="btn btn-info text-white mb-3" id="offer_delete_btn" onclick="document.getElementById('delete_article').style.display='block'">Delete</a>
                            <div id="delete_article" class="modal">
            <span onclick="document.getElementById('delete_article').style.display='none'" class="close"
                  title="Close Modal">×</span>
                            <form class="modal-content animated"
                                  th:action="@{/articles/delete/{title}(title= ${article.title})}" th:method="post">
                                <div class="text-dark">Are you sure you want to delete [[${article.title}]]?</div>
                                <div class="button-holder d-flex justify-content-center">
                                    <button class="btn signup_btn" type="submit">Yes</button>
                                    <button type="button"
                                            onclick="document.getElementById('delete_article').style.display='none'"
                                            class="cancel_btn btn">No
                                    </button>
                                </div>
                            </form>
                        </div>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>
        <div class="button-holder d-flex justify-content-center">
            <a class="btn btn-info" th:href="@{/articles/create}">Add Article</a>
        </div>
    </div>
</div>
<th:block th:include="~{_shared/footer}"/>
<th:block th:include="~{_shared/scripts}"/>
</body>
</html>