<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Profile</title>
    <th:block th:include="~{_shared/head}"/>
</head>
<body>

<div class="super_container">
    <th:block th:include="~{_shared/header}"/>
    <th:block th:include="~{_shared/menu}"/>


    <div class="last">
        <div class="last_background parallax-window" data-parallax="scroll"
             data-image-src="/images/client_profile_background.webp"
             data-speed="0.8"></div>
    <!-- PAGE STUFF -->

        <div class="rela-block container">
            <div class="rela-block profile-card">
                    <img class="profile-pic" id="profile_pic" src="/images/client_no_picture.webp" alt="">
                <div class="rela-block profile-name-container">
                    <div class="rela-block user-name" id="user_name"><strong>[[${client.username}]]</strong></div>
                    <div class="rela-block user-desc" id="user_description"><strong>Email:</strong> [[${client.email}]]</div>
                </div>
                <div class="rela-block profile-card-stats">
                    <div class="justify-content-center"><strong>Country:</strong>[[${client.country}]]</div>
                </div>
                <!--/*@thymesVar id="client" type="project.imaginarium.web.view.models.user.view.ClientViewModel"*/-->
                <a class="btn btn-info text-white mb-3" id="profile_edit_btn" th:href="@{/profile/edit/{role}/{name}(role = ${session.role}, name=${client.username})}">Edit</a>
            </div>
            <div class="rela-block content">
                <!--/*@thymesVar id="client" type="project.imaginarium.web.view.models.user.view.ClientViewModel"*/-->
                <th:block th:each="offer : ${client.offers}">
                    <div class="rela-inline image">
                        <div class="offer_name">[[${offer.name}]]</div>
                        <img class="offer_pic" th:src="${offer.picture}" alt="">
                    </div>
                </th:block>
            </div>
        </div>
    </div>

    <th:block th:include="~{_shared/footer}"/>
</div>
<th:block th:include="~{_shared/scripts}"/>
</body>
</html>