<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Profile</title>
    <th:block th:include="~{_shared/head}"/>
</head>
<body>

<div class="super_container">
    <th:block th:include="~{_shared/header}"/>
    <th:block th:include="~{_shared/menu}"/>


    <div class="last">
        <div class="last_background parallax-window" data-parallax="scroll"
             data-image-src="/images/client_profile_background.webp"
             data-speed="0.8"></div>
        <!-- PAGE STUFF -->

        <div class="rela-block container">
            <div class="rela-block profile-card">
                <!--/*@thymesVar id="partner" type="project.imaginarium.web.api.models.user.response.PartnerResponseModel"*/-->
                <img class="profile-pic" id="profile_pic" th:src="${partner.logo}" alt="">
                <div class="rela-block profile-name-container">
                    <div class="rela-block user-name" id="user_name"><strong>[[${partner.name}]]</strong></div>
                    <div class="rela-block user-desc" id="user_description"><strong>Email:</strong> [[${partner.email}]]</div>
                </div>
                <div class="rela-block profile-card-stats">
                    <a class="justify-content-center" th:href="${partner.website}"><strong>[[${partner.website}]]</strong></a>
                </div>
                    <div class="description_profile"><strong>Description:</strong></div>
                    <div class="description_profile">[[${partner.description}]]</div>
                <a class="btn btn-info text-white mb-3" id="profile_edit_btn" th:href="@{/profile/edit/{role}/{name}(role=${session.role}, name=${session.user.username})}">Edit</a>
            </div>
            <div class="rela-block content justify-content-center">
                <!--/*@thymesVar id="partner" type="project.imaginarium.web.api.models.user.response.PartnerResponseModel"*/-->
                <th:block th:each="offer : ${partner.offers}">
                    <div class="rela-inline image">
                        <div class="offer_name">[[${offer.name}]]</div>
                        <img th:onclick="'location.href = \''+ @{/offers/info/{sector}/{name}(sector=${session.user.sector.name}, name=${offer.name})} + '\'' " class="offer_pic" th:src="${offer.picture}" alt="">
                    </div>
                </th:block>
            </div>
            <a class="btn about_button text-white position-relative" th:href="@{/offers/{partner}/add/{offer}(partner=${session.user.username}, offer=${session.user.sector.name})}">Add Offer</a>
        </div>
    </div>
        <th:block th:include="~{_shared/footer}"/>
    </div>
    <th:block th:include="~{_shared/scripts}"/>
</body>
</html>