<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Profile</title>
    <th:block th:include="~{_shared/head}"/>
</head>
<body>

<div class="super_container">
    <th:block th:include="~{_shared/header}"/>
    <th:block th:include="~{_shared/menu}"/>


    <div class="last">
        <div class="last_background parallax-window" data-parallax="scroll"
             data-image-src="/images/client_profile_background.webp"
             data-speed="0.8"></div>
        <!-- PAGE STUFF -->

        <div class="rela-block container">
            <div class="rela-block profile-card">
                <!--/*@thymesVar id="partner" type="project.imaginarium.web.api.models.user.response.PartnerResponseModel"*/-->
                <div class="profile-pic">
                    <img class="pic" id="profile_pic" th:src="${partner.logo}" alt="">
                    <div th:if="${#authentication.getPrincipal().getUsername()== partner.getUsername()}">
                    <a class="middle btn" onclick="document.getElementById('change-pic-modal').style.display='block'"></a>
                    </div>
                </div>
                <div class="rela-block profile-name-container">
                    <div class="rela-block user-name" id="user_name"><strong>[[${partner.name}]]</strong></div>
                    <div class="rela-block user-desc" id="user_description"><strong>Email:</strong> [[${partner.email}]]
                    </div>
                </div>
                <div class="rela-block profile-card-stats">
                    <a class="justify-content-center"
                       th:href="@{/dummy}"><strong>[[${partner.website}]]</strong></a>
                </div>
                <div class="description_profile"><strong>Description:</strong></div>
                <div class="description_profile">[[${partner.description}]]</div>
                <a class="btn btn-info text-white mb-3" id="profile_edit_btn" th:href="@{/profile/edit/{role}/{name}
      (role=${(#authentication.getPrincipal().getSector().getName() == 'admin') ? 'admin' : (#authentication.getPrincipal().getSector().getName() == 'client') ? 'client' : 'partner'},
                name=${#authentication.getPrincipal().getUsername()})}">Edit</a>
            </div>
            <div class="rela-block content justify-content-center">
                <!--/*@thymesVar id="partner" type="project.imaginarium.web.api.models.user.response.PartnerResponseModel"*/-->
                <th:block th:each="offer : ${partner.offers}">
                    <div class="rela-inline image">
                        <div class="offer_name">[[${offer.name}]]</div>
                        <img th:onclick="'location.href = \''+ @{/offers/info/{sector}/{name}(sector=${#authentication.getPrincipal().getSector().getName()}, name=${offer.name})} + '\'' "
                             class="offer_pic" th:src="${offer.picture}" alt="">
                    </div>
                </th:block>
            </div>
            <div th:if="${partner.username}==${#authentication.getPrincipal().getUsername()}">
            <a class="btn about_button text-white position-relative"
               th:href="@{/offers/{partner}/add/{offer}(partner=${#authentication.getPrincipal().getUsername()}, offer=${#authentication.getPrincipal().getSector().getName()})}">Add
                Offer</a>
            </div>
            <div sec:authorize="isAuthenticated()">
                <div th:if="${partner.username}==${#authentication.getPrincipal().getUsername()}">
                    <a class="about_button btn text-white" th:href="@{/{username}/inbox(username=${partner.username})}">Inbox</a>
                </div>
                <div th:unless="${partner.username}==${#authentication.getPrincipal().getUsername()}">
                    <a class="about_button btn text-white" th:href="@{/message/partner/{username}(username=${partner.username})}">Send message</a>
                </div>
            </div>
        </div>
    </div>
    <th:block th:include="~{_shared/footer}"/>
</div>
<th:block th:include="~{_shared/scripts}"/>
</body>
</html>