<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Register</title>
    <th:block th:include="~{_shared/head}"/>
</head>
<body>

<div class="super_container">
    <th:block th:include="~{_shared/header}"/>
    <th:block th:include="~{_shared/menu}"/>
    <!-- Register -->

    <div class="last">
        <div class="last_background parallax-window" data-parallax="scroll"
             data-image-src="/images/register-background.jpg"
             data-speed="0.8"></div>

        <div class="container">
            <div class="row">
                <div class="col-lg-6 last_col">
                    <div class="last_item">
                        <div class="last_item_content">
                            <div class="last_subtitle">Explore our offers</div>
                            <form class="mx-auto w-15" th:action="@{/users/register/user}" method="post">
                                <div class="form-group row">
                                    <div class="label-holder textCol d-flex justify-content-center">
                                        <label for="username" class="h4 mb-2 last_text">Username</label>
                                    </div>
                                    <input type="text" class="form-control" id="username" name="username"/>
                                </div>
                                <div class="form-group row">
                                    <div class="label-holder text-white textCol d-flex justify-content-center">
                                        <label for="country" class="h4 mb-2 last_text">Country</label>
                                    </div>
                                    <select class="form-control" id="country" name="country" type="text">
                                        <option th:value="${null}">Select Country</option>
                                        <option th:each="country : ${countries}" th:value="${country}" th:text="${country}"></option>
                                    </select>

                                </div>
                                <div class="form-group row">
                                    <div class="label-holder text-white textCol d-flex justify-content-center">
                                        <label for="emailUser" class="h4 mb-2 last_text">Email</label>
                                    </div>
                                    <input type="email" class="form-control" id="emailUser" name="email"/>
                                </div>
                                <div class="form-group row">
                                    <div class="label-holder text-white textCol d-flex justify-content-center">
                                        <label for="passwordUser" class="h4 mb-2 last_text">Password</label>
                                    </div>
                                    <input type="password" class="form-control" id="passwordUser" name="password"/>
                                </div>
                                <div class="form-group row">
                                    <div class="label-holder text-white textCol d-flex justify-content-center">
                                        <label for="confirmPasswordUser" class="h4 mb-2 last_text">Confirm
                                            Password</label>
                                    </div>
                                    <input class="form-control" type="password" id="confirmPasswordUser"
                                           name="confirmPassword"/>
                                </div>
                                <input type="hidden" id="role" name="role" value="CLIENT">
                                <div class="button-holder d-flex justify-content-center">
                                    <button class="btn btn-info text-white mb-3" type="submit">Register</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <th:block th:include="~{_shared/footer}"/>
</div>
<th:block th:include="~{_shared/scripts}"/>
</body>
</html>