<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create Article</title>
    <th:block th:include="~{_shared/head}"/>
</head>
<body>

<div class="super_container">
    <th:block th:include="~{_shared/header}"/>
    <th:block th:include="~{_shared/menu}"/>
    <!-- Register -->

    <div class="last">
        <div class="last_background parallax-window" data-parallax="scroll"
             data-image-src="/images/article-background.jpg"
             data-speed="0.8"></div>

        <div class="container_article">
            <div class="row">
                <div class="col-lg-10 last_col">
                    <div class="last_item">
                        <div class="last_item_content">
                            <div class="last_subtitle">Create article</div>
                            <form id="create_article" class="mx-auto w-15" method="post">
                                <div class="form-group row">
                                    <div class="label-holder textCol d-flex justify-content-center">
                                        <label for="title" class="h4 mb-2 last_text">Title</label>
                                    </div>
                                    <input type="text" class="form-control" id="title" name="title" required/>
                                </div>
                                <div class="form-group row">
                                    <div class="label-holder textCol d-flex justify-content-center">
                                        <label for="picture" class="h4 mb-2 last_text">Url to picture</label>
                                    </div>
                                    <input type="text" class="form-control" id="picture" name="picture" required />
                                </div>
                                <div class="form-group row">
                                    <div class="label-holder text-white textCol d-flex justify-content-center">
                                        <label for="content" class="h4 mb-2 last_text">Content</label>
                                    </div>
                                    <textarea class="form-control"
                                              id="content" rows="20"
                                              name="content" required></textarea>

                                </div>
                                <div type="hidden">
                                <input type="hidden" id="date" name="date" th:value="${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}">
                                </div>
                                <div class="button-holder d-flex justify-content-center">
                                    <button id="create_article_btn" class="btn btn-info text-white mb-3" type="submit">Create</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<th:block th:include="~{_shared/footer}"/>
</body>
</html>