.message_delete_btn{
    background:red;
    padding-left:1px;
    padding-right:1px;
}

.empty{
    margin-left:46%;
    margin-bottom:1.4%
}

.delete_all{
    position:absolute;
    margin-left:-36%;
}

.read{
    margin-left:-40%;
}

.delete{
    margin-right:37%
}

#delete_all_messages{
    width:20%;
    margin-left:26%;
    margin-top:-4%;
    text-align:center;
}

.hello_inbox{
    padding-top:70px;
}

.new_message{
    text-align:center;
    font-size:25px;
    font-weight:800;
    padding-top:10px;
    padding-bottom:20px;

}

.modalMessage {
    display: none;
    position: relative;
    z-index: 1;
    left: -19.6%;
    top: -150px;
    width: 100%;
    height:auto;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
    padding-top:40px;
    padding-bottom:-20px;
}

.modalMessage-content {
    padding-top:25px;
    padding-left:25px;
    padding-right:25px;
    background-color: #fefefe;
    margin: 0% auto 5% auto;
    border: 1px solid #888;
    width: 75%;
}

.message_identification{
    text-align:left;
    padding-bottom:30px;
}